[Desktop Entry]
Version=1.0
Name=Amethyst Launcher
Comment=Discover, manage, and play Minecraft instances
Type=Application
Terminal=false
Exec=amethystlauncher %U
StartupNotify=true
Icon=org.prismlauncher.AmethystLauncher
Categories=Game;ActionGame;AdventureGame;Simulation;PackageManager;
Keywords=game;minecraft;mc;
StartupWMClass=AmethystLauncher
MimeType=application/zip;application/x-modrinth-modpack+zip;x-scheme-handler/curseforge;x-scheme-handler/amethystlauncher;
